.bg-sidebar {
    background: #0355A6;
}

.cta-btn {
    color: #D3A646;
}

.upgrade-btn {
    background: #1947ee;
}

.upgrade-btn:hover {
    background: #0038fd;
}

.active-nav-link {
    background: #1947ee;
}

.nav-item:hover {
    background: #0091FF;
}

.account-link:hover {
    background: #3d68ff;
}