.min-w-screen{
    width: 90vh;
}

#BoxVe_ModalXacNhan{
    background-image: url("https://lh3.googleusercontent.com/proxy/pSd_LaQ-Jr5f95x_rMOEJ06UnkuvlrYn-dQLfDu41j7gBVbBZgfr5a4jQbJVQai4QyGGd6CBBkn9ff1RCt-rf-Qp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}