#txtDate {
    margin-top: 1.5vh;
    border-radius: 5px;
    padding: 1vh;
    border: 1px solid gray;
    outline: none;
    font-family: FontAwesome, 'Lexend', sans-serif;
    cursor: pointer;
    width: 100%;
}